@model IEnumerable<AllQualificationTrainingViewModel>
@{
    ViewData["Title"] = "My Qualification trainings";
}
<h2 id="title" class="text-center">@ViewData["Title"]</h2>

<hr />

@if (!Model.Any())
{
    <div class="text-center">
        <h3>You don`t have complete trainings.</h3>
    </div>
}
else
{
    <div class="row">
        @foreach (var t in Model)
        {
            <div class="container mb-3" style="display:inline">
                <div class="row">
                    <div class="card col-6 border-0">
                        <p class="h2"><u>@t.Name</u></p>
                        <p class="h5">From: <b>@t.From.ToShortDateString()</b></p>
                        <p class="h5">To: <b>@t.To.ToShortDateString()</b></p>
                        <p class="h5">Description: <b>@t.Description</b></p>
                        <p></p>
                        <a asp-controller="QualificationTraining" asp-action="Leave" asp-route-id="@t.Id" asp-route-additionalParam="@User?.Identity?.Name">
                            <div>
                                <input type="submit" value="Leave" class="btn btn-secondary border-2" style="margin-right: 0.5rem" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <p></p>
            <hr />
        }
    </div>
}