@model IEnumerable<AllEmployeesViewModel>
@{
    ViewData["Title"] = "All Employees";
}
<h2 id="title" class="text-center">@ViewData["Title"]</h2>
<hr />
@if (Model.Count() < 1)
{
    <h2>There are no registered Employees.</h2>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th><p>Id</p></th>
                <th><p>Fullname</p></th>
                <th><p>HireDate</p></th>
                <th><p>Position</p></th>
                <th><p>Department</p></th>
                <th><p>User IsHired</p></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td><p>@user.Id</p></td>
                    <td><p>@user.FirstName @user.LastName</p></td>
                    <td><p>@user.HireDate.ToShortDateString()</p></td>
                    <td><p>@user.Position</p></td>
                    <td><p>@user.Department</p></td>
                    <td>
                        @if (user.IsHired)
                        {
                            <label>✔</label>
                            <a asp-controller="Employee" asp-action="Hire" asp-route-id="@user.Id" method="post" class="btn btn-secondary">Fired</a>
                        }
                        else
                        {
                            <label class="text-center">❌</label>
                            <a asp-controller="Employee" asp-action="Hire" asp-route-id="@user.Id" method="post" class="btn btn-secondary">Hired</a>
                        }
                    </td>
                    <td><a asp-controller="Employee" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-secondary">Edit</a></td>
                    <td><a asp-controller="Employee" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-secondary" onclick="return confirm('Are you sure you want to delete this employee?')">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}