@model SalaryInfoModel
@{
    ViewData["Title"] = "My salary";
    int years = Model.TimeWorked.Days / 365;
    int months = Model.TimeWorked.Days % 365 / 30;
    int days = Model.TimeWorked.Days % 365 % 30;
}
<h2 id="title" class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="row text-center">
    <div class="row">
        <p class="h5">Your Experience in the company: @years years, @months months, @days days.</p>
        <p></p>
        @if (Model.Trainings.Any())
        {
            <p class="h5">You're signed up for: <b>@Model.Trainings.Count()</b> trainings.</p>
            <p></p>
        }
        else
        {
            <p class="h5">You have not signed up for training.</p>
            <p></p>
        }
        @if (Model.CompleteTrainingsCount > 0)
        {
            <p class="h5">You completed : <b>@Model.CompleteTrainingsCount trainings.</b></p>
            <p></p>
        }
        else
        {
            <p class="h5">You haven't completed trainings.</p>
            <p></p>
        }
        <p class="h5">Salary: <b>@Model.Salary $</b></p>
        <p></p>
        <p class="h5">Bonus: <b>@Model.Bonus $</b></p>
        <p></p>
        <p class="h5">Total Salary: <b>@Model.TotalSalary $</b></p>
        <p></p>
    </div>
</div>
<hr />