@model SalaryInfoModel
@{
    ViewData["Title"] = "My salary";
}
<h2 id="title" class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="container" style="display:inline">
        <div class="row">
            <div class="card col-6 border-0">
                @if (Model.Trainings.Any())
                {
                    <p class="h5">You have: <b>@Model.Trainings.Count() complete trainings.</b></p>
                }
                <p class="h5">Salary: <b>@Model.Salary</b></p>
                <p></p>
                <p></p>
                <p class="h5">Bonus: <b>@Model.Bonus</b></p>
                <p></p>
                <p></p>
                <p class="h5">Total Salary: <b>@Model.TotalSalary</b></p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>