@model SuccessLoginViewModel
<div class="text-center">
    <h1>Welcome</h1>
</div>

<div style="display:flex; justify-content: space-between;">
    <div class="card mb-3">
        <div class="card-body text-center">
            <a asp-area="" asp-controller="Employee" asp-action="AboutMe"
               class="btn btn-secondary">About Me</a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body text-center">
            <a asp-area="" asp-controller="Employee" asp-action="PreviousPositions"
               class="btn btn-secondary">Previous positions</a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body text-center">
            <a asp-area="" asp-controller="Employee" asp-action="QualificationTraining"
               class="btn btn-secondary">Qualification Training</a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body text-center">
            <a asp-area="" asp-controller="Employee" asp-action="LeaveRequest"
               class="btn btn-secondary">Leave Request</a>
        </div>
    </div>
</div>

        
@* @model SuccessLoginViewModel
<div class="text-center">
    <h1 class="display-4">Welcome @Model.FirstName @Model.LastName </h1>
</div>
<div class="col-md-4">
    <div class="card mb-3">
        <div class="card-body text-center">
            <a asp-area="" asp-controller="Employee" asp-action="AboutMe" asp-route-id="@Model.Id"
               class="btn btn-secondary">About Me</a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body text-center">
            <a asp-area="" asp-controller="Employee" asp-action="PreviousPositions" asp-route-id="@Model.Id"
               class="btn btn-secondary">Previous positions</a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body text-center">
            <a asp-area="" asp-controller="Employee" asp-action="QualificationTraining" asp-route-id="@Model.Id"
               class="btn btn-secondary">Qualification Training</a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body text-center">
            <a asp-area="" asp-controller="Employee" asp-action="LeaveRequest" asp-route-id="@Model.Id"
               class="btn btn-secondary">Leave Request</a>
        </div>
    </div>
</div> *@