@model IEnumerable<AllPreviousPositionsViewModel>
@{
    ViewData["Title"] = "All Previous Positions";
}
<h2 id="title" class="text-center">@ViewData["Title"]</h2>
<hr />
@if (!Model.Any())
{
    <div class="text-center">
        <h3> No entries added.</h3>
    </div>
}
@foreach (var position in Model)
{
    <div class="card mb-3">
        <div class="card-body">
            <p class="h5">Id: <b>@position.Id</b></p>
            <div class="col-xs-6">
                <p class="h5">Department: <b>@position.Department</b></p>
                <p></p>
                <p></p>
                <p class="h5">Position: <b>@position.Position</b></p>
                <p></p>
                <p></p>
                <p class="h5">From: <b>@position.From</b></p>
                <p></p>
                <p></p>
                <p class="h5">To: <b>@position.To</b></p>
                <p></p>
                <p></p>
                <p class="h5">Salary: <b>@position.Salary</b></p>
                <p></p>
            </div>
        </div>
    </div>
}